
  </textarea>

  <canvas class="screen" width="160" height="160"></canvas>

  <div class="debugger">
    <input type="checkbox" class="debug" name="debug" />
    <label for="debug">Debugger</label>
    <div class="minidebugger"></div>
    <div class="buttons">
      <input type="button" value="Step" class="stepButton" />
      <input type="button" value="Jump to..." class="gotoButton" />
    </div>
  </div>

  <div class="monitorControls">
    <label for="monitoring">Monitor</label>
    <input type="checkbox" class="monitoring" name="monitoring" />

    <label for="start">Start: $</label>
    <input type="text" value="0" class="start" name="start" />
    <label for="length">Length: $</label>
    <input type="text" value="ff" class="length" name="length" />
  </div>

  <div class="monitor"><pre><code></code></pre></div>
  <div class="messages"><pre><code></code></pre></div>

  <div class="notes" style="display: none">Upplysningar:

Minnesadressen $fe innehåller en ny slumpmässig byte för varje hämtning.
Minnesadressen $ff innehåller ASCII-koden för den senast tryckta tangenten.

Minnesadresserna $200 till $5ff motsvarar skärmens bildpunkter. Olika värden
ritar olika färger på pixlarna. Färgerna är: 

$0: Svart
$1: Vit
$2: Röd
$3: Cyan
$4: Lila
$5: Grön
$6: Blå
$7: Gul
$8: Brandgul
$9: Brun
$a: Ljusröd
$b: Mörkgrå
$c: Grå
$d: Ljusgrön
$e: Ljusblå
$f: Ljusgrå
    </div>
</div>
